<html>
    <head>
        <title>Mi sistema {% block title %}{% endblock %}</title>
    </head>
    <body>
        <div style="float: right;">
            <span>{{ current_user.username }}</span>
        </div>
        <div>
            <ul>
                {% block items %}{% endblock %}
                {% if not current_user.username %}
                    <li><a href="login">Login</a></li>
                {% else %}
                    {% for item in main_menu(current_user.id) %}
                        <li><a href="{{ item.url }}">{{ item.name }}</a></li>
                    {% endfor %}
                    <li><a href="logout">Logout</a></li>
                {% endif %}
            </ul>
        </div>
        <div>
            {% block content %}{% endblock %}
        </div>
    </body>
</html>
