<html>
    <head>
        <title>Mi sistema {% block title %}{% endblock %}</title>
    </head>
    <body>
        <div style="float: right;">
            <span>{{ current_user.username }}</span>
        </div>
        <div>
        <div>
            <ul>
                {% block items %}{% endblock %}
                {% if not current_user.username %}
                    <li><a href="login">Login</a></li>
                {% else %}
                    <li><a href="system">System</a></li>
                    <li><a href="seccion_1">Sección #1</a></li>
                    <li><a href="seccion_2">Sección #2</a></li>
                    <li><a href="logout">Logout</a></li>
                {% endif %}
            </ul>
        </div>
        <div>
            {% block content %}{% endblock %}
        </div>
    </body>
</html>
